body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0221;
  color: white;
}

/* HEADER */
header {
  background-color: #5a2ca0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.top-bar input {
  padding: 8px;
  width: 250px;
  border-color: #f1660e;
}

.top-bar img {
  max-width: 150px;
  height: auto;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: #f1660e;
  font-size: 20px;
  margin: 0;
}

.icons span {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* MENU */
nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #f1660e;
  font-weight: bold;
}

/* ABOUT */
.about {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  min-height: 400px;
}

.about .text {
  flex: 2;
}

.about h2 {
  font-size: 32px;
}

.about .image {
  flex: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 0;
  position: relative;
}

.about .image img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 2;
}

.about .image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent 70%, rgba(82, 17, 179, 0.5) 100%);
  z-index: 2;
}

/* FOOTER */
footer {
  background-color: #5a2ca0;
  padding: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box {
  width: 18%;
  color: #f1660e;
}

.footer-box:nth-child(5) {
  text-align: center;
}

.footer-box:nth-child(5) img {
  max-width: 100%;
  height: auto;
}

.footer-box:nth-child(6) {
  text-align: center;
}

.footer-box:nth-child(6) h3 {
  font-size: 14px;
}

.footer-box:nth-child(6) img {
  max-width: 100%;
  height: auto;
}

.footer-box:nth-child(4) img {
  width: 20px;
  height: auto;
  margin-left: 5px;
}

.footer-box input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.footer-box button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background-color: #f1660e;
  border: none;
  cursor: pointer;
}

.footer-box input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.footer-box button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background-color: #f1660e;
  border: none;
  cursor: pointer;
}